<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2>Todo List</h2>
            <hr />
            <form>
                <div class="input-group">
                    <input type="text" name="inputTaskName" [(ngModel)]="inputTask" class="form-control" placeholder="Your task"
                        required>
                    <button class="btn btn-dark" (click)="addTask()" type="submit">Add</button>
                </div>
            </form>
            <table *ngIf="showTasks" class=" table table-dark table-striped todo-list">
                <tr *ngFor="let activetask of activeTasks; let i= index" [attr.data-index]="i">
                    <td>{{activetask.description}}</td>
                    <td class="text-right">
                        <button class="btn btn-success" (click)="taskCompletion(i)">
                            <!-- <i class="glyphicon glyphicon-ok"></i> -->
                            Ok
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-danger" (click)="removeActiveTask(i)">
                            <!-- <i class="glyphicon glyphicon-remove"></i> -->
                            X
                        </button>
                    </td>
                </tr>

                <tr *ngFor="let task of completedTasks; let i= index" [attr.data-index]="i">
                    <td class="todo-completed">{{task.description}}</td>
                    <td class="text-right">
                        <button class="btn btn-info" (click)="repeatTask(i)">
                            <!-- <i class="glyphicon glyphicon-repeat"></i> -->
                            Redo
                        </button>

                    </td>
                    <td>
                        <button class="btn btn-danger" (click)="removeCompletedTask(i)">
                            <!-- <i class="glyphicon glyphicon-remove"></i> -->
                            X
                        </button>
                    </td>
                </tr>
            </table>
        </div>

        <div class='col-md-3'>

        </div>
        <div class="col-md-3 col-md-offset-3">
            <h3>Counts</h3>
            <hr />
            <ul class='list-group'>
                <li class="list-group-item d-flex justify-content-between align-items-center">Total Tasks
                    <span class="badge badge-primary badge-pill">{{activeTasks.length + completedTasks.length}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">Active Tasks :
                    <span class="badge badge-primary badge-pill">{{activeTasks.length}}</span></li>
                <li class="list-group-item d-flex justify-content-between align-items-center">Completed Tasks :
                    <span class="badge badge-primary badge-pill">{{completedTasks.length}}</span></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <button type="button" class="btn btn-dark" (click)="removeAllCompletedTasks()">Remove Completed Tasks</button>
        </div>
    </div>

</div>